@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    
--Cyan: hsl(179, 62%, 43%);
--Bright-Yellow: hsl(71, 73%, 54%);
--Light-Gray: hsl(204, 43%, 93%);
--Grayish-Blue: hsl(218, 22%, 67%);

}
body{
    background: var(--Light-Gray);
    font-size: 16px;
    font-family: 'karla', sans-serif;
}
.main{
    background: #ffffff;
    border-radius: 0.5rem;
    width: 600px;
    height: 300px;
    margin: 6.25rem auto;
    padding: 0;
    
}
.main .box > h1{
    color: var(--Cyan);
    padding: 1.25rem;
    line-height: 0.5rem;
}
.main .box > h1 ~ .para{
    color: var(--Bright-Yellow);
    padding: 1.25rem;
}
.main .box .para1{
    color: var(--Grayish-Blue);
    padding: 1.25rem;
    margin-inline-end: 0.2rem;
    line-height: 1.5rem;
}
.mainBox{
    display: grid;
    grid-template-columns: 50% 50%;
    /* display: flex;
    flex-direction: row; */
    background:hsl(179, 62%, 43%);
    color:#ffffff; 
}
.mainBox .box,  h2, p{
    padding: 1rem;
}
.btn{
    background: var(--Bright-Yellow);
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    margin-inline-start: 1rem;
    margin-block-end: 1.5rem;
    padding: 0.5rem
}

ul li{
    line-height: 1.3rem;
    list-style-type: none;
}
footer{
    text-align: center;
    line-height: 5rem;
}
