@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    
--Cyan: hsl(179, 62%, 43%);
--Bright-Yellow: hsl(71, 73%, 54%);
--Light-Gray: hsl(204, 43%, 93%);
--Grayish-Blue: hsl(218, 22%, 67%);

}
body{
    background: var(--Light-Gray);
    font-size: 16px;
    font-family: 'karla', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    flex-direction: column;
}
.main{
    background: #ffffff;
    width: 700px;    
}
.main .box > h1{
    color: var(--Cyan);
    padding: 1.25rem;
    line-height: 0.5rem;
}
.main .box > h1 ~ .para{
    color: var(--Bright-Yellow);
    padding: 1.25rem;
}
.para1{
    padding: 1.25rem;
    margin-inline-end: 0.2rem;
    line-height: 1.5rem;
}
.mainBox{
    display: flex;
    flex-direction: row;
    background:hsl(179, 62%, 43%);
    color:#ffffff;
    width: 100%;
}

.box {
    width: 50%;
    margin: 30px;
}
